#main {
    padding: 5vh 7vw;
    margin: 5vh 18vw;
    background-color: #f0ede5;
    min-height: 78.2vh;
}

#titleH {
    font-size: 3rem;
}

#title {
    margin-bottom: 3.2rem;
    display: flex;
    justify-content: space-between;
}

#detail {
    margin-top:2rem;
}

#loading {
    margin: 5rem 49%;
}

#editBtn {
    width: 10%;
    height: 10%;
    margin-top: 1rem;
}

.cdt {
    display: flex;
    justify-content: space-between;
    max-height: 5rem;
}

.cdtN {
    margin: 1.5rem 5rem;
    font-size: 1.2rem;
}

.cdtB {
    margin-top: 1.5rem;
    width: 20px;
    height: 20px;
}

.phaseN {
    font-size: 2rem;
    font-style: bold;
}